{{ define "main" }}
<div class="bg-light py-5 mb-5">
  <div class="container">
    <h1 class="display-1 text-center mb-0">Privacy Policy</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-3 mb-3 mb-lg-0">
      <nav aria-label="Page Navigation" class="sticky-top pt-lg-3">
        <div class="card">
          <h2 class="card-header h5 fw-bold text-uppercase">Page Navigation</h2>
          <div class="list-group list-group-flush" id="page-navigation">
            <a href="#section-1" class="list-group-item list-group-item-action"
              >Heading #1</a
            >
            <a href="#section-2" class="list-group-item list-group-item-action"
              >Heading #2</a
            >
            <a href="#section-3" class="list-group-item list-group-item-action"
              >Heading #3</a
            >
            <a href="#section-4" class="list-group-item list-group-item-action"
              >Heading #4</a
            >
          </div>
        </div>
      </nav>
    </div>
    <div class="col-lg-9 pt-lg-3">
      <article class="mb-5">
        <p class="lead">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
          convallis velit quis sapien sollicitudin ultrices. Ut metus tortor,
          aliquet non rutrum ac, dapibus vehicula augue. Etiam congue erat sem,
          vitae gravida nunc pretium vitae. Fusce sed ex tellus.
        </p>
        <section class="mb-3" id="section-1">
          <h2>Heading #1</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            convallis velit quis sapien sollicitudin ultrices. Ut metus tortor,
            aliquet non rutrum ac, dapibus vehicula augue. Etiam congue erat
            sem, vitae gravida nunc pretium vitae. Fusce sed ex tellus. Quisque
            auctor viverra feugiat. Nulla urna odio, porta ut tristique ut,
            consequat non dolor. Etiam varius maximus dolor, at consectetur
            lectus. Mauris rutrum aliquet tellus, sed convallis diam.
          </p>
          <img src="/img/1000x600.png" class="img-fluid mb-3" />
          <h3>Subheading</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            convallis velit quis sapien sollicitudin ultrices. Ut metus tortor,
            aliquet non rutrum ac, dapibus vehicula augue. Etiam congue erat
            sem, vitae gravida nunc pretium vitae. Fusce sed ex tellus. Quisque
            auctor viverra feugiat. Nulla urna odio, porta ut tristique ut,
            consequat non dolor. Etiam varius maximus dolor, at consectetur
            lectus. Mauris rutrum aliquet tellus, sed convallis diam.
          </p>
          <a href="#">Link to other article</a>
        </section>
        <section class="mb-3" id="section-2">
          <h2>Heading #2</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            convallis velit quis sapien sollicitudin ultrices. Ut metus tortor,
            aliquet non rutrum ac, dapibus vehicula augue. Etiam congue erat
            sem, vitae gravida nunc pretium vitae. Fusce sed ex tellus. Quisque
            auctor viverra feugiat. Nulla urna odio, porta ut tristique ut,
            consequat non dolor. Etiam varius maximus dolor, at consectetur
            lectus. Mauris rutrum aliquet tellus, sed convallis diam.
          </p>
          <ul>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              convallis velit quis sapien sollicitudin ultrices.
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              convallis velit quis sapien sollicitudin ultrices.
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              convallis velit quis sapien sollicitudin ultrices.
            </li>
          </ul>
        </section>
        <section class="mb-3" id="section-3">
          <h2>Heading #3</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            convallis velit quis sapien sollicitudin ultrices. Ut metus tortor,
            aliquet non rutrum ac, dapibus vehicula augue. Etiam congue erat
            sem, vitae gravida nunc pretium vitae. Fusce sed ex tellus. Quisque
            auctor viverra feugiat. Nulla urna odio, porta ut tristique ut,
            consequat non dolor. Etiam varius maximus dolor, at consectetur
            lectus. Mauris rutrum aliquet tellus, sed convallis diam.
          </p>
          <ol>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              convallis velit quis sapien sollicitudin ultrices.
              <img src="/img/1000x600.png" class="img-fluid my-3" />
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              convallis velit quis sapien sollicitudin ultrices.
              <img src="/img/1000x600.png" class="img-fluid my-3" />
            </li>
            <li>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              convallis velit quis sapien sollicitudin ultrices.
              <img src="/img/1000x600.png" class="img-fluid my-3" />
            </li>
          </ol>
        </section>
        <section class="mb-3" id="section-4">
          <h2>Heading #4</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
            convallis velit quis sapien sollicitudin ultrices. Ut metus tortor,
            aliquet non rutrum ac, dapibus vehicula augue. Etiam congue erat
            sem, vitae gravida nunc pretium vitae. Fusce sed ex tellus. Quisque
            auctor viverra feugiat. Nulla urna odio, porta ut tristique ut,
            consequat non dolor. Etiam varius maximus dolor, at consectetur
            lectus. Mauris rutrum aliquet tellus, sed convallis diam.
          </p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Column</th>
                <th scope="col">Second Column</th>
                <th scope="col">Third Column</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">First Row</th>
                <td>Table Cell</td>
                <td>Table Cell</td>
                <td>Table Cell</td>
              </tr>
              <tr>
                <th scope="row">Second Row</th>
                <td>Table Cell</td>
                <td>Table Cell</td>
                <td>Table Cell</td>
              </tr>
              <tr>
                <th scope="row">Third Row</th>
                <td>Table Cell</td>
                <td>Table Cell</td>
                <td>Table Cell</td>
              </tr>
            </tbody>
          </table>
        </section>
      </article>
    </div>
  </div>
</div>
{{ end }}
