{{ define "main" }}
<div class="bg-light py-5 mb-5">
  <div class="container">
    <h1 class="display-1 text-center mb-0">Wishlist</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-xxl-3 mb-3 mb-lg-0">
      <aside class="sticky-top pt-lg-3">
        <nav aria-label="Change Wishlist">
          <div class="card">
            <h2 class="card-header h5 fw-bold text-uppercase">
              Change Wishlist
            </h2>
            <div class="list-group list-group-flush">
              <a
                href="#"
                class="list-group-item list-group-item-action active"
                aria-current="true"
                >Wishlist #1</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Wishlist #2</a
              >
              <a href="#" class="list-group-item list-group-item-action"
                >Wishlist #3</a
              >
              <button
                type="button"
                class="list-group-item list-group-item-action text-primary"
                data-bs-toggle="modal"
                data-bs-target="#modal"
              >
                <i class="bi-plus-circle"></i> Create new wishlist
              </button>
            </div>
          </div>
        </nav>
        <button type="button" class="btn btn-primary mt-3 js-addAllToCart">
          Add all products to cart
        </button>
      </aside>
    </div>
    <div class="col-lg-8 col-xxl-9 pt-lg-3 mb-5">
      <div class="row g-4">
        <div class="col-md-6 col-xxl-4">
          <div class="card h-100">
            <div class="position-relative">
              <img
                src="/img/1600x900.png"
                alt="Product image"
                class="card-img-top"
              />
              <div
                class="badge bg-info position-absolute top-0 end-0 mt-2 me-2"
              >
                Tag
              </div>
            </div>
            <div class="card-body position-relative">
              <h2 class="h4">
                <a href="/product" class="stretched-link">Product Name</a>
              </h2>
              <div class="text-uppercase fw-bold text-muted mb-1">
                Brand Name
              </div>
              <p class="mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                convallis velit quis sapien sollicitudin ultrices.
              </p>
              <div
                class="small position-absolute bottom-0 end-0 mb-2 me-3 text-success"
              >
                <i class="bi-check-circle"></i>
                In stock
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between align-items-center">
                <div class="fs-3 fw-bold lh-1">
                  $199
                  <span class="fs-6 text-decoration-line-through text-muted"
                    >($299)</span
                  >
                </div>
                <div class="d-flex">
                  <button type="button" class="btn btn-primary me-2">
                    <i class="bi-cart-plus"></i
                    ><span class="visually-hidden">Add to cart</span>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <i class="bi-x-circle"></i
                    ><span class="visually-hidden">Remove from wishlist</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xxl-4">
          <div class="card h-100">
            <div class="position-relative">
              <img
                src="/img/1600x900.png"
                alt="Product image"
                class="card-img-top"
              />
              <div
                class="badge bg-info position-absolute top-0 end-0 mt-2 me-2"
              >
                Tag
              </div>
            </div>
            <div class="card-body position-relative">
              <h2 class="h4">
                <a href="/product" class="stretched-link">Product Name</a>
              </h2>
              <div class="text-uppercase fw-bold text-muted mb-1">
                Brand Name
              </div>
              <p class="mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                convallis velit quis sapien sollicitudin ultrices.
              </p>
              <div
                class="small position-absolute bottom-0 end-0 mb-2 me-3 text-success"
              >
                <i class="bi-check-circle"></i>
                In stock
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between align-items-center">
                <div class="fs-3 fw-bold lh-1">
                  $199
                  <span class="fs-6 text-decoration-line-through text-muted"
                    >($299)</span
                  >
                </div>
                <div class="d-flex">
                  <button type="button" class="btn btn-primary me-2">
                    <i class="bi-cart-plus"></i
                    ><span class="visually-hidden">Add to cart</span>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <i class="bi-x-circle"></i
                    ><span class="visually-hidden">Remove from wishlist</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xxl-4">
          <div class="card h-100">
            <div class="position-relative">
              <img
                src="/img/1600x900.png"
                alt="Product image"
                class="card-img-top"
              />
              <div
                class="badge bg-info position-absolute top-0 end-0 mt-2 me-2"
              >
                Tag
              </div>
            </div>
            <div class="card-body position-relative">
              <h2 class="h4">
                <a href="/product" class="stretched-link">Product Name</a>
              </h2>
              <div class="text-uppercase fw-bold text-muted mb-1">
                Brand Name
              </div>
              <p class="mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                convallis velit quis sapien sollicitudin ultrices.
              </p>
              <div
                class="small position-absolute bottom-0 end-0 mb-2 me-3 text-success"
              >
                <i class="bi-check-circle"></i>
                In stock
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between align-items-center">
                <div class="fs-3 fw-bold lh-1">
                  $199
                  <span class="fs-6 text-decoration-line-through text-muted"
                    >($299)</span
                  >
                </div>
                <div class="d-flex">
                  <button type="button" class="btn btn-primary me-2">
                    <i class="bi-cart-plus"></i
                    ><span class="visually-hidden">Add to cart</span>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <i class="bi-x-circle"></i
                    ><span class="visually-hidden">Remove from wishlist</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xxl-4">
          <div class="card h-100">
            <div class="position-relative">
              <img
                src="/img/1600x900.png"
                alt="Product image"
                class="card-img-top"
              />
              <div
                class="badge bg-info position-absolute top-0 end-0 mt-2 me-2"
              >
                Tag
              </div>
            </div>
            <div class="card-body position-relative">
              <h2 class="h4">
                <a href="/product" class="stretched-link">Product Name</a>
              </h2>
              <div class="text-uppercase fw-bold text-muted mb-1">
                Brand Name
              </div>
              <p class="mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                convallis velit quis sapien sollicitudin ultrices.
              </p>
              <div
                class="small position-absolute bottom-0 end-0 mb-2 me-3 text-success"
              >
                <i class="bi-check-circle"></i>
                In stock
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between align-items-center">
                <div class="fs-3 fw-bold lh-1">
                  $199
                  <span class="fs-6 text-decoration-line-through text-muted"
                    >($299)</span
                  >
                </div>
                <div class="d-flex">
                  <button type="button" class="btn btn-primary me-2">
                    <i class="bi-cart-plus"></i
                    ><span class="visually-hidden">Add to cart</span>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <i class="bi-x-circle"></i
                    ><span class="visually-hidden">Remove from wishlist</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xxl-4">
          <div class="card h-100">
            <div class="position-relative">
              <img
                src="/img/1600x900.png"
                alt="Product image"
                class="card-img-top"
              />
              <div
                class="badge bg-info position-absolute top-0 end-0 mt-2 me-2"
              >
                Tag
              </div>
            </div>
            <div class="card-body position-relative">
              <h2 class="h4">
                <a href="/product" class="stretched-link">Product Name</a>
              </h2>
              <div class="text-uppercase fw-bold text-muted mb-1">
                Brand Name
              </div>
              <p class="mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                convallis velit quis sapien sollicitudin ultrices.
              </p>
              <div
                class="small position-absolute bottom-0 end-0 mb-2 me-3 text-success"
              >
                <i class="bi-check-circle"></i>
                In stock
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between align-items-center">
                <div class="fs-3 fw-bold lh-1">
                  $199
                  <span class="fs-6 text-decoration-line-through text-muted"
                    >($299)</span
                  >
                </div>
                <div class="d-flex">
                  <button type="button" class="btn btn-primary me-2">
                    <i class="bi-cart-plus"></i
                    ><span class="visually-hidden">Add to cart</span>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <i class="bi-x-circle"></i
                    ><span class="visually-hidden">Remove from wishlist</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xxl-4">
          <div class="card h-100">
            <div class="position-relative">
              <img
                src="/img/1600x900.png"
                alt="Product image"
                class="card-img-top"
              />
              <div
                class="badge bg-info position-absolute top-0 end-0 mt-2 me-2"
              >
                Tag
              </div>
            </div>
            <div class="card-body position-relative">
              <h2 class="h4">
                <a href="/product" class="stretched-link">Product Name</a>
              </h2>
              <div class="text-uppercase fw-bold text-muted mb-1">
                Brand Name
              </div>
              <p class="mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                convallis velit quis sapien sollicitudin ultrices.
              </p>
              <div
                class="small position-absolute bottom-0 end-0 mb-2 me-3 text-success"
              >
                <i class="bi-check-circle"></i>
                In stock
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between align-items-center">
                <div class="fs-3 fw-bold lh-1">
                  $199
                  <span class="fs-6 text-decoration-line-through text-muted"
                    >($299)</span
                  >
                </div>
                <div class="d-flex">
                  <button type="button" class="btn btn-primary me-2">
                    <i class="bi-cart-plus"></i
                    ><span class="visually-hidden">Add to cart</span>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <i class="bi-x-circle"></i
                    ><span class="visually-hidden">Remove from wishlist</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xxl-4">
          <div class="card h-100">
            <div class="position-relative">
              <img
                src="/img/1600x900.png"
                alt="Product image"
                class="card-img-top"
              />
              <div
                class="badge bg-info position-absolute top-0 end-0 mt-2 me-2"
              >
                Tag
              </div>
            </div>
            <div class="card-body position-relative">
              <h2 class="h4">
                <a href="/product" class="stretched-link">Product Name</a>
              </h2>
              <div class="text-uppercase fw-bold text-muted mb-1">
                Brand Name
              </div>
              <p class="mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                convallis velit quis sapien sollicitudin ultrices.
              </p>
              <div
                class="small position-absolute bottom-0 end-0 mb-2 me-3 text-warning"
              >
                <i class="bi-exclamation-circle"></i>
                Only few in stock
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between align-items-center">
                <div class="fs-3 fw-bold lh-1">
                  $199
                  <span class="fs-6 text-decoration-line-through text-muted"
                    >($299)</span
                  >
                </div>
                <div class="d-flex">
                  <button type="button" class="btn btn-primary me-2">
                    <i class="bi-cart-plus"></i
                    ><span class="visually-hidden">Add to cart</span>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <i class="bi-x-circle"></i
                    ><span class="visually-hidden">Remove from wishlist</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xxl-4">
          <div class="card h-100">
            <div class="position-relative">
              <img
                src="/img/1600x900.png"
                alt="Product image"
                class="card-img-top"
              />
              <div
                class="badge bg-info position-absolute top-0 end-0 mt-2 me-2"
              >
                Tag
              </div>
            </div>
            <div class="card-body position-relative">
              <h2 class="h4">
                <a href="/product" class="stretched-link">Product Name</a>
              </h2>
              <div class="text-uppercase fw-bold text-muted mb-1">
                Brand Name
              </div>
              <p class="mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                convallis velit quis sapien sollicitudin ultrices.
              </p>
              <div
                class="small position-absolute bottom-0 end-0 mb-2 me-3 text-warning"
              >
                <i class="bi-exclamation-circle"></i>
                Only few in stock
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between align-items-center">
                <div class="fs-3 fw-bold lh-1">
                  $199
                  <span class="fs-6 text-decoration-line-through text-muted"
                    >($299)</span
                  >
                </div>
                <div class="d-flex">
                  <button type="button" class="btn btn-primary me-2">
                    <i class="bi-cart-plus"></i
                    ><span class="visually-hidden">Add to cart</span>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <i class="bi-x-circle"></i
                    ><span class="visually-hidden">Remove from wishlist</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xxl-4">
          <div class="card h-100">
            <div class="position-relative">
              <img
                src="/img/1600x900.png"
                alt="Product image"
                class="card-img-top"
              />
              <div
                class="badge bg-info position-absolute top-0 end-0 mt-2 me-2"
              >
                Tag
              </div>
            </div>
            <div class="card-body position-relative">
              <h2 class="h4">
                <a href="/product" class="stretched-link">Product Name</a>
              </h2>
              <div class="text-uppercase fw-bold text-muted mb-1">
                Brand Name
              </div>
              <p class="mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                convallis velit quis sapien sollicitudin ultrices.
              </p>
              <div
                class="small position-absolute bottom-0 end-0 mb-2 me-3 text-warning"
              >
                <i class="bi-exclamation-circle"></i>
                Only few in stock
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between align-items-center">
                <div class="fs-3 fw-bold lh-1">
                  $199
                  <span class="fs-6 text-decoration-line-through text-muted"
                    >($299)</span
                  >
                </div>
                <div class="d-flex">
                  <button type="button" class="btn btn-primary me-2">
                    <i class="bi-cart-plus"></i
                    ><span class="visually-hidden">Add to cart</span>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <i class="bi-x-circle"></i
                    ><span class="visually-hidden">Remove from wishlist</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xxl-4">
          <div class="card h-100">
            <div class="position-relative">
              <img
                src="/img/1600x900.png"
                alt="Product image"
                class="card-img-top"
              />
              <div
                class="badge bg-info position-absolute top-0 end-0 mt-2 me-2"
              >
                Tag
              </div>
            </div>
            <div class="card-body position-relative">
              <h2 class="h4">
                <a href="/product" class="stretched-link">Product Name</a>
              </h2>
              <div class="text-uppercase fw-bold text-muted mb-1">
                Brand Name
              </div>
              <p class="mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                convallis velit quis sapien sollicitudin ultrices.
              </p>
              <div
                class="small position-absolute bottom-0 end-0 mb-2 me-3 text-danger"
              >
                <i class="bi-x-circle"></i>
                Out of stock
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between align-items-center">
                <div class="fs-3 fw-bold lh-1">
                  $199
                  <span class="fs-6 text-decoration-line-through text-muted"
                    >($299)</span
                  >
                </div>
                <div class="d-flex">
                  <button type="button" class="btn btn-primary me-2" disabled>
                    <i class="bi-cart-plus"></i
                    ><span class="visually-hidden">Add to cart</span>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <i class="bi-x-circle"></i
                    ><span class="visually-hidden">Remove from wishlist</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xxl-4">
          <div class="card h-100">
            <div class="position-relative">
              <img
                src="/img/1600x900.png"
                alt="Product image"
                class="card-img-top"
              />
              <div
                class="badge bg-info position-absolute top-0 end-0 mt-2 me-2"
              >
                Tag
              </div>
            </div>
            <div class="card-body position-relative">
              <h2 class="h4">
                <a href="/product" class="stretched-link">Product Name</a>
              </h2>
              <div class="text-uppercase fw-bold text-muted mb-1">
                Brand Name
              </div>
              <p class="mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                convallis velit quis sapien sollicitudin ultrices.
              </p>
              <div
                class="small position-absolute bottom-0 end-0 mb-2 me-3 text-danger"
              >
                <i class="bi-x-circle"></i>
                Out of stock
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between align-items-center">
                <div class="fs-3 fw-bold lh-1">
                  $199
                  <span class="fs-6 text-decoration-line-through text-muted"
                    >($299)</span
                  >
                </div>
                <div class="d-flex">
                  <button type="button" class="btn btn-primary me-2" disabled>
                    <i class="bi-cart-plus"></i
                    ><span class="visually-hidden">Add to cart</span>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <i class="bi-x-circle"></i
                    ><span class="visually-hidden">Remove from wishlist</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xxl-4">
          <div class="card h-100">
            <div class="position-relative">
              <img
                src="/img/1600x900.png"
                alt="Product image"
                class="card-img-top"
              />
              <div
                class="badge bg-info position-absolute top-0 end-0 mt-2 me-2"
              >
                Tag
              </div>
            </div>
            <div class="card-body position-relative">
              <h2 class="h4">
                <a href="/product" class="stretched-link">Product Name</a>
              </h2>
              <div class="text-uppercase fw-bold text-muted mb-1">
                Brand Name
              </div>
              <p class="mb-3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                convallis velit quis sapien sollicitudin ultrices.
              </p>
              <div
                class="small position-absolute bottom-0 end-0 mb-2 me-3 text-danger"
              >
                <i class="bi-x-circle"></i>
                Out of stock
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between align-items-center">
                <div class="fs-3 fw-bold lh-1">
                  $199
                  <span class="fs-6 text-decoration-line-through text-muted"
                    >($299)</span
                  >
                </div>
                <div class="d-flex">
                  <button type="button" class="btn btn-primary me-2" disabled>
                    <i class="bi-cart-plus"></i
                    ><span class="visually-hidden">Add to cart</span>
                  </button>
                  <button type="button" class="btn btn-danger">
                    <i class="bi-x-circle"></i
                    ><span class="visually-hidden">Remove from wishlist</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
