<div class="toast-container position-fixed end-0 mt-3 me-3">
    <div class="toast js-cartToast" role="status" aria-live="polite" aria-atomic="true">
        <div class="toast-header fw-bold">Added to cart</div>
        <div class="toast-body">Product Name was added to the cart</div>
    </div>
    <div class="toast js-wishlistToast" role="status" aria-live="polite" aria-atomic="true">
        <div class="toast-header fw-bold">Added to wishlist</div>
        <div class="toast-body">Product Name was added to the wishlist</div>
    </div>
    <div class="toast js-addAllToast" role="status" aria-live="polite" aria-atomic="true">
        <div class="toast-header fw-bold">All added to cart</div>
        <div class="toast-body">All products from wishlist were added to the cart</div>
    </div>
</div>